Django==5.1
   python-dotenv
   gunicorn
annotated-types
anyio
asgiref
certifi
colorama
distro
h11
httpcore
httpx
idna
jiter
openai
pillow
pydantic
pydantic_core
python-dotenv
sniffio
sqlparse
tqdm
typing_extensions
tzdata
psycopg2
whitenoise
decouple