<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {% for entry in project_entries %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img src="{{ entry.featured_image.url }}" class="card-img-top" alt="{{ entry.title }}">
                    <div class="card-body text-center"> <!-- Added text-center class for centering the title -->
                        <h5>{{ entry.title }}</h5>
                        <h6 class="text-muted">{{ entry.description }}</h6> <!-- Subheader for the description -->
                    </div>
                </div>
            </div>
            {% empty %}
            <p>No gallery entries found.</p>
            {% endfor %}
        </div>
    </div>
</div>
